*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

:root{
  --mainColor: #028d97;
  --whiteColor: #fff;
  --blackColor: #000;
  --lightDark: #222;

}

nav{
  width: 100%;
  height: 70px;
  line-height: 70px;
  padding: 0 100px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  display: flex;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 9999;
}

.left{
  text-align: left;
  width: 50%;

}
.left a{
  font-weight: 700;
  color: var(--mainColor);
  font-size: 21px;
}
.right{
  text-align: right;
  width: 50%;
}

nav ul{
  list-style: none;

}

nav ul a{
  text-decoration: none;
}

.shopingCart i{
font-size: 20px;
display: inline-block;
color: var(--lightDark);
margin-right: 15px;
}
.cartCount{
  display: inline-block;
  width: 35px;
  height: 35px;
  background: var(--mainColor);
  color: var(--whiteColor);
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  font-size: 12px;
}

/* Helpers */

.container{
  width: 100%;
  padding: 0 100px;
}

/* Navbar styles */

header{
  width: 100%;
  background: url("/src/images/banner.jpg");
  height: 250px;
  margin-top: 70px;
  background-size: cover;
  background-repeat: no-repeat;

  /* display: flex;
  align-items: center;
  justify-content: center; */
  color: #fff;
}


.headerText{
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerText h1{
  font-size: 35px;
}

.headerText p{
  margin-left: 55px;
  margin-top: 7px;
}

/* Product Styles */

.product-list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

.product {
  width: 25%;
  padding: 0 12px;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}

.hot{
  position: absolute;
  top: 0;
  background: rgb(26, 87, 105);
  padding: 5px 20px;
  color: var(--whiteColor);
}

.new{
  position: absolute;
  top: 0;
  background: rgb(52, 122, 43);
  padding: 5px 20px;
  color: var(--whiteColor);
}
.product-image{
  width: 100%;
  height: 200px;
  overflow: hidden;

}



.product-details{
  padding: 15px 10px;
  text-align: center;
  background: var(--whiteColor);
  border-left: 1px solid #fafafa;
  border-right: 1px solid #fafafa;

}

.product-name{
  font-size: 18px;
  font-weight: 500;
  margin:12px 0;

}

.product-price{
  font-size: 20px;
  font-weight: 300;
  margin: 12px 0;
}

.add-to-cart{
  background: var(--mainColor);
  padding: 10px 20px;
  width: 100%;
  color: var(--whiteColor);
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

/* Not Found styles*/

.not-found{
  margin-top: 200px;

}

/* Cart Styles */

.cart-container{
  width: 100%;
  margin-top: 70px;
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

}

.cart-details{
  width: 75%;
  border: 1px solid #fafafa;
  border-radius: 5px;
}

.cart{
  display: flex;
  align-items: center;
  background: var(--whiteColor);
  padding: 15px 20px;

}

.cart-image{
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  overflow: hidden;

}

.cart-image img{
  width: 100%;
  height: 100%;

}

.cart-product-name{
  display: inline-block;
  width: 150px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 14px;
}

.cart-product-price{
  display: inline-block;
  width: 120px;
  padding: 0 15px;
  text-align: center;
  font-weight: bold;
  color: var(--mainColor);
}

.inc{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid var(--mainColor);
  font-size: 14px;
  color: var(--mainColor);
  border-radius: 3px;
  cursor: pointer;
}

.product-quantity{
  display: inline-block;
  padding: 0 15px;
  font-size: 15px;
  width: 70px;
  text-align: center;
}

.dec{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid rgb(33, 143, 177);
  font-size: 14px;
  color: rgb(33, 143, 177);
  border-radius: 3px;
  cursor: pointer;
}


.product-total-price{
  display: inline-block;
  width: 170px;
  padding: 0 15px;
  text-align: center;

}

.delete-product{
border: none;
color: rgb(33, 143, 177);
cursor: pointer;
}

/* Cart Summary */

.cart-summary{
  width: 25%;
  padding: 0 0 0 20px;
  margin-top: 75px;

}

.summary{
  background: var(--whiteColor);
  padding: 13px;

}

.summary h3{
  font-size: 18px;
  font-weight: normal;
  border-bottom: 1px solid #999;

  padding-bottom: 8px;
}

.total-items{
  display: flex;
  margin: 15px 0;

}


.items{
  width: 50%;
  text-align: left;
  font-weight: normal;
}

.items-count{
  width: 66%;
  text-align: right;
  font-weight: bold;
  color: var(--mainColor);

}

.total-price-section{
  display: flex;
  margin: 15px 0;

}

.just-title{
  width: 50%;
  text-align: left;
  font-weight: normal;
}

.items-price{
  width: 50%;
  text-align: right;
  font-weight: bold;
  color: var(--mainColor);

}


.empty{
  padding: 10px 20px;
}



/* Media Query */

@media(max-width: 765px){
  .headerText{
    padding: 0 15px;
  }

  .headerText h1{
    font-size: 20px;

  }

  .product-list{
    flex-direction: column;
  }

  .product{
    width: 100%;

  }

  .cart-container{
    flex-direction: column;
    
  }

  .cart{
    flex-direction: column;
  }

  .cart-details{
    width: 100%;
  }

  .cart-image{
    padding: 15px 0;

  }

  .cart-product-name{
    padding: 15px 0;
    text-align: center;
  }

  .cart-product-price{
    padding: 15px 0;

  }

  .product-quantity{
    padding: 15px 0;
  }

  .product-total-price{
    padding: 15px 0;
  }

  .cart-summary{
    width: 100%;
  }
}